@{
    Layout = "~/Views/Shared/MasterLayout.cshtml"; 
}

<div class="container-fluid">
    
    <div class="col-md-3 " style="margin-top: 1%;">
        <div id="userphoto">
            <div class="gravatar-wrapper-128"><img id="image" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1003077_10202730761697354_638351439_n.jpg?oh=0745b59a29b6efd8e502d33dac2f2b30&oe=574587F1" alt="" class="logo" width="120" height="120"><span>Oliver Oreshkovski</span></div>
            <div class="change-picture-slide" style="top: 30px;">
                <input accept="image/*" type="file" id="upload" name="upload" onchange="readURL(this);" style="visibility: hidden;"/>
                <a href="" onclick="changePicture(); return false">Change Picture</a>
            </div>
        </div>
    </div>

    <!-- end col-md-3 -->
    <div class="col-md-8" id="ep-change-image">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <form role="form">
                        <h2>Edit Profile</h2>
                        <br>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Display Name" tabindex="3">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Current Password" tabindex="4">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="New Password" tabindex="5">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <button type="submit" class="btn tf-btn btn-default" style="margin-right: 2.5%;">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end col-md-3 -->
    </div>
    <!-- end col-md-3 -->
</div>


